<div class="card h-100">
  <div class="card-body d-flex flex-column">
    <h6 class="card-title lh-1"><%= event.name %></h6>
    <p class="card-subtitle text-muted fs-14 fw-light"><%= event.date %></p>

    <%= link_to 'Learn more', event, class: 'card-link mt-auto' %>
  </div>
</div>
